
@{
    ViewBag.Title = "EventEdit";
}

<h2>EventEdit</h2>
<div class="MainBody">
    <form method="post">
        <input type="datetime-local" name="StartDate" value="@ViewBag.e.StartDate.ToString("yyyy-MM-ddTHH:mm")" /> <br />
        <input type="datetime-local" name="EndDate" value="@ViewBag.e.EndDate.ToString("yyyy-MM-ddTHH:mm")" /><br />
        <input type="text" name="Name" value="@ViewBag.e.EventName" /><br />
        <input type="text" name="Details" value="@ViewBag.e.Description" /><br />
        <input type="text" name="Game" value="@ViewBag.e.StreamGame" /><br />
        <input type="submit" name="CreateEvent" /><br />
    </form>
    <div class="Results"><h3>@ViewBag.results</h3></div>
</div>


